<div class="waraper">
            
            <div class="breadcrumb-area">
                <div class="container-fluid text-center">
                    <div class="breadcrumb-stye gray-bg ptb-100">
                        <h2 class="page-title">about us</h2>
                        <ul>
                            <li><a href="#">home</a></li>
                            <li class="active">about us</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->
            <!-- shopping-cart-area start -->
            <div class="about-area ptb-100">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 col-lg-offset-2">
                            <div class="about-text">
                                <img src="assets/img/blog/4.jpg" alt="">
                                <div class="about-text-title text-center">
                                    <h2>
                                        welcome to VyntraMart
                                    </h2>
                                    <p>We are leading shopping platform that gives the customers immense variety of products having superior quality</p>
                                </div>
                                <div class="about-counter">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-count text-center mb-30">
                                                <div class="count-title">
                                                    <h2 class="count">20</h2>
                                                    <span>Years in Business</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-count text-center mb-30">
                                                <div class="count-title">
                                                    <h2 class="count">200</h2>
                                                    <span>Clients and Partners</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-count text-center mb-30">
                                                <div class="count-title">
                                                    <h2 class="count">15</h2>
                                                    <span>Billion Sales</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-team">
                                    <h2 class="main-title">our team member</h2>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-team">
                                                <div class="team-img-name">
                                                    <img src="assets/img/team/harman.JPG" alt="">
                                                    <div class="member-title text-center">
                                                        <h2>Harman Saggu</h2>
                                                        <p>Ceo Founder</p>
                                                    </div>
                                                </div>
                                                <div class="member-info text-center">
                                                    <p>A passionate developer with knowledge of java, HTML5, TS, angular, node.js, MySql and springboot</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-team team-mrg">
                                                <div class="team-img-name">
                                                    <img src="assets/img/team/arsh.JPG" alt="">
                                                    <div class="member-title text-center">
                                                        <h2>Arshdeep Singh</h2>
                                                        <p>Ceo Founder</p>
                                                    </div>
                                                </div>
                                                <div class="member-info text-center">
                                                    <p>Sound knowlegde of HTML5, java, js and MySql</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
